#include "torabo_tsuki_lp.dtsi"
#include <input/processors.dtsi>
#include <dt-bindings/zmk/input_transform.h>

#include <mouse-gesture.dtsi>

&zip_temp_layer {
    excluded-positions = <
        25 // a
        32 // H
        33 // J
        34 // K
        35 // L
        36 // ;
        39 // Z
        55 // LCMD
    >;
};

&zip_mouse_gesture {
    stroke-size = <200>; // Optional (default: 200)
    enable-eager-mode; // Optional, but recommended

    desktop_forward {
        pattern = <GESTURE_RIGHT>;
        bindings = <&kp LC(RIGHT)>;
    };

    desktop_backward {
        pattern = <GESTURE_LEFT>;
        bindings = <&kp LC(LEFT)>;
    };

    desktop_show_open {
        pattern = <GESTURE_UP>;
        bindings = <&kp LC(UP)>;
    };

    desktop_show_close {
        pattern = <GESTURE_DOWN>;
        bindings = <&kp LC(DOWN)>;
    };
};

&trackball_listener {
    input-processors = <
        &zip_xy_transform (INPUT_TRANSFORM_X_INVERT | INPUT_TRANSFORM_Y_INVERT)
        &zip_temp_layer 5 10000
    >;
    scroller {
        layers = <6>;
        input-processors = <
            &zip_xy_to_scroll_mapper
            &zip_scroll_scaler 1 8
        >;
    };
    mouse_gesture {
        layers = <5 6>;
        input-processors = <&zip_mouse_gesture>;
    }
};

&size_s_transform {
    col-offset = <7>;
};

&size_m_transform {
    col-offset = <7>;
};

&size_l_transform {
    col-offset = <7>;
};
