name: Build ZMK firmware
run-name: Build ZMK firmware for Torabo Tsuki LP

on:
  push:
    branches: ["master"]
  pull_request:
  workflow_dispatch:

jobs:
  build:
    uses: zmkfirmware/zmk/.github/workflows/build-user-config.yml@v0.2
